body{
    margin:0px;
}
.fv {
    width: 100%;
    
}
.fv img {
    width: 640px;
    margin: 0 auto;
    display: block;
}
.fv .mainview{
    width: 840px;
}

@media screen and (max-width: 768px){
    .fv img {
        width: 100%;
    }
    .fv .mainview{
        width: 100%;
    }
}
.video_box{
    width:640px;
    margin:0 auto;
    position:relative
}
@media screen and (max-width: 768px){
    .video_box {
        width: 100%;
    }
}
.video01{
    position: absolute;
    width: 86%;
    top: 26%;
    right: 7%;
}
.video02{
    position: absolute;
    width: 82%;
    top: 53%;
    right: 9%;
}
.video03{
    position: absolute;
    width: 82%;
    top: 30%;
    right: 9%;
}
.video04{
    position: absolute;
    width: 82%;
    top: 31%;
    right: 9%;
}

 .sns_btn {
     text-align: center;
 }
 .sns_btn ul li{
     display: inline-block;
     margin: 0 8px;
     cursor: pointer;
 }
 
 .buybtn{
    width: 174px;
    position: fixed;
    right: 0;
    bottom: 76px;
    z-index: 99;
}
.buybtn img{width: 100%; height: auto;}
@media screen and (max-width: 768px){
    .buybtn{
        width: 28%;
        max-width: 170px;
    }
}

#wh-widget-send-button{
    display: none;
}

#fb-root{
    display: none;
}

#wrapper img#line {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 12px;
    z-index: 99;
}

.line_alert {
    display: none;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    position: fixed;
    bottom: 29px;
    right: 90px;
    z-index: 99;
}
.line_alert:before{
    content: '';
    position: absolute;
    background: white;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    right: -5px;
    top: 50%;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    z-index: 1;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.line_alert p{
    padding: 5px 10px 5px 10px;
    line-height: 18px;
    max-height: 34px;
    max-width: 135px;
    overflow: hidden;
    word-wrap: break-word;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

img.anniversary_2{
    width:40%;
    position: fixed;
    top:5%;
    right:30%;
    z-index:100;
    cursor: pointer;
    box-shadow: 5px 5px 8px rgb(0 0 0 / 30%);
}
@media screen and (max-width: 768px){
    img.anniversary_2 {
        width:101%;
        position: fixed;
        top: 5%;
        right:-1%;
        z-index: 100;
    }
}

@media screen and (max-width: 414px){
    img.anniversary_2 {
       top: 10%;
    }
}

.SP{
    display: none;
}
@media screen and (max-width: 768px){
.PC{
    display: none;
}
.SP{
    display: block;
}
}
